---
- name: Restart compose stack
  community.docker.docker_compose_v2:
    project_src: "{{ compose_repo }}"
    files: "{{ ollama_compose_files }}"
    pull: always
    recreate: always
    remove_orphans: true
    state: present
