# ---------- Docker Volumes & misc ----------------------------

*/*-data/
acme.json
ragflow/logs/

# ---------- Ansible inventory & vars ----------------------------
ansible/inventory/*.yaml
ansible/inventory/hosts.yaml
!ansible/inventory/hosts.yaml.template
!ansible/inventory/local.yaml
ansible/inventory/group_vars/
ansible/inventory/host_vars/


.cache/

# ---------- Environment / secrets -------------------------------
.env
*.env                                  

# ---------- Misc -------------------------------
.vscode
docker