---
- name: Stop & remove compose stack
  community.docker.docker_compose_v2:
    project_src: "{{ compose_repo }}"
    state: absent
    files: "{{ ollama_compose_files }}"

- name: Remove compose directory entirely
  ansible.builtin.file:
    path: "{{ compose_repo }}"
    state: absent
