---
- name: Stop & remove compose stack
  community.docker.docker_compose_v2:
    project_src: "{{ compose_repo }}"
    state: absent
    files:
      - compose.yaml
      {% if ollama_use_rocm_overlay | bool %}
      - compose.rocm.yaml
      {% endif %}

- name: Remove compose directory entirely
  ansible.builtin.file:
    path: "{{ compose_repo }}"
    state: absent
